<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>自習×個別指導塾｜オープンデスク</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/responsive.css">
  <script src="https://kit.fontawesome.com/64a65c6c44.js" crossorigin="anonymous"></script>
</head>

<body>
  <%- include('common/header') %>
    <%- include('common/nav') %>

      <main>
        <div class="container">
          <img src="\images\自習×個別指導 トップ画像.png" alt="準備中" width="100%" loading="lazy">
          <section>
            <div class="school-method">
              <h2>当塾の学習方法</h2>
              <ul>
                <li>お客様が自習したい教材を用意していただき、自習をしていただきます。</li>
                <br>
                <li>自習する中で質問したい箇所が出てきたときに、講師にすぐに質問します。</li>
                <br>
                <li>必要に応じて、学習計画や進路相談、定期テスト目標などを一緒に立てます。</li>
              </ul>
            </div>
            <div class="school-purpose">
              <h2>モチベーションをアップさせることが当塾の目的です</h2>
              <ul>
                <li>一人一人に合ったプランを作成するために、一緒に話し合いながら進めていきます。</li>
                <br>
                <li>自宅などでやる気が出ない時に、気軽にご予約ください。当日予約も可能です。</li>
              </ul>
            </div>
            <div class="school-user">
              <h2>老若男女問わずご利用ください</h2>
              <ul>
                <li>学校終わりに宿題だけ終わらせたい！</li>
                <li>定期テストの勉強をしたい！</li>
                <li>進路相談をしたい！</li>
                <li>大学の卒論を進めたい！</li>
                <li>プログラミングの勉強したい！</li>
                <li>資格試験の勉強をしたい！</li>
              </ul>
              <br>
              <p>等々、自由にご利用ください。最大限のサポートをさせていただきます。</p>
            </div>
          </section>
        </div>
      </main>

      <footer>
        <%- include('common/footer') %>
      </footer>
      <script src="/js/script.js"></script>
</body>