<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ログイン|オープンデスク</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/responsive.css">
</head>
<body>
  <div class="sign">
    <div class="container">
      <h1><a href="/">予約ページ</a></h1>
      <div class="panel">
        <h2>ログイン</h2>
        <form action="/login" method="post">
          <p>メールアドレス</p>
          <input type="text" name="mail">
          <p>パスワード</p>
          <input type="password" name="password">
          <input type="submit" value="ログイン">
          <a href="/">一覧にもどる</a>
        </form>
      </div>
    </div>
  </div>
</body>
</html>