<footer>
  <div class="container">
    <div class="footer-icon">
      <a href="/"><img src="/images/オープンデスク_アイコン.webp" alt="準備中" width="100%" loading="lazy"></a>
    </div>
    <div class="footer-link">
      <ul>
        <li><a href="/">ホーム</a></li>
        <li><a href="/individual">自習×個別指導塾</a></li>
        <li><a href="/facility">設備・場所</a></li>
        <li><a href="/price">料金</a></li>
        <li><a href="/contact">お問い合わせ</a></li>
      </ul>
    </div>
  </div>
</footer>