<div class="container">
  <nav>
    <ul>
      <li><a href="/">ホーム</a></li>
      <li><a href="/individual">自習×個別指導塾</a></li>
      <li><a href="/facility">設備・場所</a></li>
      <li><a href="/price">料金</a></li>
      <li><a href="/contact">お問い合わせ</a></li>
    </ul>
  </nav>
</div>